{% include 'base.html' %}
{% block content %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/homeevent.css' %}">
<div class="w3-container w3-padding-32" id="Contact"></div>
<h2 style="text-align:center;" class="w3-border-bottom w3-gray w3-border-light-grey w3-padding-16">Contact</h2>
<div class="w3-row-padding w3-grayscale" id="Contact">
 
  <div class="w3-col l3 m6 w3-margin-bottom">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzvsGN4tI842XHa3v2O1cUFuQTI5RQ4sn9eWrKppo9onMaic5GyWD51nVbU2p9QhJmzDM&usqp=CAU"  width="150px" height:"1500px" >
    <h3>Vinay Kumar</h3>
    <p class="w3-opacity"></p>
    <p>email:vinaykumar@gmail.com</p>
    <p>contact:9856467867</p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvHpao1OgEXxcTdQJneXCgH2YKJmw_M-6FZD_XyHlGHrxd1ckAO0BLUpSdu77SBDU5P0E&usqp=CAU"  width="150px" height:"1500px">
    <h3>Niharika</h3>
    <p>email:niharikanaidu02@gmail.com</p>
    <p>contact:8688565029</p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzvsGN4tI842XHa3v2O1cUFuQTI5RQ4sn9eWrKppo9onMaic5GyWD51nVbU2p9QhJmzDM&usqp=CAU"  width="150px" height:"1500px">
    <h3>Rohith</h3>
    <p>email:rohith@gmail.com</p>
    <p>contact:8978678979</p>
  </div>
</div>
</div>
{% endblock content %}
