{% include 'dashboard2.html' %}

{% block content %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap" rel="stylesheet">
<style>
body{
    font-family:Courgette;
    text-align: center;
    color:black;
    font-size: 20px;
}
.image{
    width:33.33%;
    float:left
}
.left{
    width:33.33%;
    left:50%;
    float:left;
}
.right{
    width:33.33%;
    float:right;
}
a{
    text-align: center;

}

</style><br><br>
<body>
   
    <img scr="{{organizer.e_pic.url}}" alt="{{organizer.ename}} img" >

    <h3 style="color:rgb(56, 15, 61)">Event organizer details</h3><br>
    <p>Name:{{organizer.name1}}</p>
    <p>email:{{organizer.email1}}</p>
    <p>mobile: {{organizer.mobile1}}</p>
    <p>Event Name:{{organizer.ename}}</p>
    <p>Event Type:{{organizer.etype}}</p>
    <p>Event location:{{organizer.eloc}}</p>
    <p>Event Theme:{{organizer.etheme}}</p>
    <p>Event Requirements:{{organizer.ereq}}</p>
    <p>Event Budget:{{organizer.ebudget}}</p>
    <p>Breakdown Budget:{{organizer.ebreak}}</p>
    <p>Event service:{{organizer.eservice}}</p>
    <p>Experience:{{organizer.Experience}}</p>
    <p>reference:{{organizer.ref}}</p>
    
    <center>
    <a href="{% url 'book' %}"  class="btn" style=" background-color: blue; border-radius:30px;color: white; padding: 10px 20px;">BOOK NOW</a>
</center>
</div><br><br>
</body>
{% endblock %}